body, html{
	margin:0;
	padding:0;
	height:100%;
}
/*MAIN CONTAINER*/
.main_container{
	width:900px;
	height:95%;
	margin-left:auto;
	margin-right:auto;
}
/*FOOTER PROPERTIES*/
.footer{
	width:900px;
	text-align:center;
	font:12px Arial;
	color:#737373;
	height:55px;
	position:absolute;
	bottom:-5px;
	margin-left:auto;
	margin-right:auto;
}
/* FORM */
#form {
	width: 400px!important;
	height: 290px!important;
	float: right;
	margin-top:90px;
	margin-right:30px;
}
/*FORM TABS*/
#formNav {
	height: 35px;
	width: 390px;
	float: right;
	margin-right: 10px;
}
/*FORM ANCHOR*/
#formNav a {
	text-decoration: none;
	font: 12px Arial;
	color: #FFF;
	font-weight: bold;
}
/*FORM LIST*/
#formNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	float: right;
}
/*FORM LIST ITEM*/
#formNav li {
	margin-top: 100px;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	height: 25px;
	width: 75px;
	background:#A9A9A9!important;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	border-radius: 5px 5px 0px 0px
}
/*LIST ITEM HOVER*/
#formNav li:hover {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	height: 25px;
	width: 75px;
	background:#A9A9A9!important;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	border-radius: 5px 5px 0px 0px
}
/*FORM INNER CONTAINER*/
#formWrp {
	height: 173px;
	width: 290px;
	margin: 25px auto;
}
/*FORM CONTAINER*/
#formWrapper {
	background:#F2F2F2;
	border-radius:10px 10px 10px 10px;
	height: 250px;
	width: 410px;
	margin-top: 100px;
	padding: 0;
	float:right;
	padding: 15px;
}
/*FORM CONTAINER INPUT ELEMENTS STYLE*/
#formWrapper input{
	border: 1px solid #c2c2d8;
	border-radius: 5px 5px 5px 5px;
	border-style:none;
	height: 22px;
	width: 125px;
	font: 12px Arial;
	font-weight: bold;
	color: #333;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	text-align: center;
}
/*FORM TEXT STYLE*/
.formText{
	font: 12px Arial;
	color: #b3b3b3;
	text-decoration: none;
	float: left;
	margin-top: 7px;
}
/*FORM CONTAINER ANCHOR DESIGN*/
#formWrapper a {
	font: 12px Arial;
	color: #716e99;
	text-decoration: underline;
}
/*FORM TITLE DESIGN*/
.formTitle {
	font: 12px Arial;
	color: #b3b3b3;
	text-decoration: none;
	font-style: italic;
	width: 135px;
	height: 15px;
	text-align: center;
}
/*FORM SIGN UP BUTTON DESIGN*/
.form_signUP {
	border-radius: 5px 5px 5px 5px!important;
	background: -moz-linear-gradient(bottom, rgb(246,96,1) 5%, rgb(255,193,64) 95%);
	font: 12px Arial!important;
	font-weight: bold!important;
	text-align: center!important;
	width: 100px!important;
	height: 30px!important;
	float: right!important;
	cursor: pointer!important;
}
/*FORM POSSITIONING AND SIZE*/
.form {
	margin-left: auto;
	margin-right: auto;
	width: 290px!important;
	height: 122px!important;
	margin-top: 10px;
}
/*TERMS OF USE POSITIONING*/
.insurance {
	font: 10px Arial;
	color: #cecece;
	float: left;
	margin:-10px 0 0 39px;
}
