body, html {
    margin:0;
    padding:0;
    background:url(../../img/global/panel_repeat.bmp) repeat-x;
}

/*MAIN CONTAINER*/
.container {
    width:900px;
    height:60px;
    margin-left:auto;
    margin-right:auto;
}
/*LOGO*/
.logo {
    width:100px;
    height:30px;
    margin:0 0 0 5px;
    padding-top:8px;
    font:"Times New Roman", Times, serif;
    font-size:26px;
    color:#FFF;
    padding-top:12px;
}
/*HEADER CONTAINER*/
.head {
    width:100%;
    height:60px;
}
/*EMAIL TEXT FIELD*/
.signin_email {
 height: 25px;
 width: 125px;
 border-radius: 5px 5px 5px 5px;
 background:#D3DDE1;
 border-color:#597589;
 border-style:none;
 font: 12px Arial;
 color: #8C8C8C;
 top:15px;
 left:750px;
 position:absolute;
}
.signin_email:hover {
 height: 25px;
 width: 125px;
 border-radius: 5px 5px 5px 5px;
 background:#D3DDE1;
 border-color:#597589;
 border-style:none;
 font: 12px Arial;
 color: #8C8C8C;
 top:15px;
 left:750px;
 position:absolute;
 box-shadow:0 0 3px #ffffff;
}
.signin_email:focus {
 height: 25px;
 width: 125px;
 border-radius: 5px 5px 5px 5px;
 background:#D3DDE1;
 font: 12px Arial;
 color: #8C8C8C;
 top:15px;
 left:750px;
 position:absolute;
 box-shadow:0 0 3px #ffffff;
 cursor:text;
 outline:none;
 }
/*PASSWORD TEXT FIELD*/
.signin_password {
 height: 25px;
 width: 125px;
 border-radius: 5px 5px 5px 5px;
 border-color:#597589;
 background:#D3DDE1;
 border-style:none;
 font: 12px Arial;
 color: #8C8C8C;
 top:15px;
 left:880px;
 position:absolute;
}
.signin_password:hover {
 height: 25px;
 width: 125px;
 border-radius: 5px 5px 5px 5px;
 border-color:#597589;
 background:#D3DDE1;
 border-style:none;
 font: 12px Arial;
 color: #8C8C8C;
 top:15px;
 left:880px;
 position:absolute;
 box-shadow:0 0 3px #ffffff;
}
.signin_password:focus {
 height: 25px;
 width: 125px;
 border-radius: 5px 5px 5px 5px;
 border-color:#597589;
 background:#D3DDE1;
 border-style:none;
 font: 12px Arial;
 color: #8C8C8C;
 top:15px;
 left:880px;
 position:absolute;
 box-shadow:0 0 3px #ffffff;
}
/*SIGNIN BUTTON*/
.signin {
    height:25px;
    width:50px;
    border-radius:5px 5px 5px 5px;
    border-style:none;
    margin:-32px 30px 0 0;
    font:11px Arial;
    font-weight:bold!important;
    color: #000000!important;
    float: right;
    background: linear-gradient(bottom, rgb(226,221,217) 36%, rgb(248,248,248) 95%);
    background: -o-linear-gradient(bottom, rgb(226,221,217) 36%, rgb(248,248,248)  95%);
    background: -moz-linear-gradient(bottom, rgb(226,221,217) 36%, rgb(248,248,248) 95%);
    background: -webkit-linear-gradient(bottom, rgb(226,221,217) 36%, rgb(248,248,248) 95%);
    background: -ms-linear-gradient(bottom, rgb(226,221,217)) 36%, rgb(248,248,248) 95%);
}
/*REMEMBER ME*/
.remember {
    font:Arial, Helvetica, sans-serif;
    font-size:12px;
    float:right;
    margin:-7px 255px 0 0;
    color:#FFF;
}
/*FORGOT PASSWORD*/
.forgot {
    font:Arial, Helvetica, sans-serif;
    font-size:12px;
    float:right;
    margin:-15px 145px 0px 0px;
    color:#FFFFFF;
}
/*CLEAR POSSITIONING PROPERTIES*/
.clear {
    clear: both;
}
#no_style {
    text-decoration:none;
    color:#FFFFFF;
}
a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;!important;
    color:#FFFFFF;
} 
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;!important;
    color:#FFFFFF;
} 
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;!important;
    color:#FFFFFF;
} 
a:active  {
    /* Applies to activated links */
    text-decoration:  none;!important;
    color:#FFFFFF;
}
.check{
    margin-top:5px;
} 